# Datos y librerias

In [11]:
import pandas as pd
importrt numpy as np
datos = pd.read_csv('trabajo.txt', delimiter='\t')

# Visualizando datos, obteniendo muestras y aclarando información cada columna

**inlf**: 1 si participa la esposa en el mercado laboral, 0 de lo contrario

**horas_esposa**:horas laboradas esposa

**hijos** :número hijos menores a 6 años

**edad_esposa**:edad en años esposa

**educ_esposa**:años educación esposa

**horas_esposo**:horas laboradas por el esposo

**edad_esposo**:años de edad del esposo

**educ_esposo**:años educación esposo

**ingreso**:ingreso del hogar mensual

**exper_esposa**:experiencia laboral en años

**d_hijo6**:1 si tiene al menos un hijo menor de 6 años, 0 de lo contrario

**salario_esposa**:salario laboral por hora esposa

**salario_esposo**:salario laboral por hora esposa

**Tipo_empleo**

**Dpto_residencia**

In [10]:
datos.keys()

Index(['inlf', 'horas_esposa', 'hijos', 'edad_esposa', 'educ_esposa',
       'horas_esposo', 'edad_esposo', 'educ_esposo', 'ingreso', 'exper_esposa',
       'd_hijo6', 'salario_esposa', 'salario_esposo', 'Tipo_empleo',
       'Dpto_residencia'],
      dtype='object')

In [4]:
datos

,inlf,horas_esposa,hijos,edad_esposa,educ_esposa,horas_esposo,edad_esposo,educ_esposo,ingreso,exper_esposa,d_hijo6,salario_esposa,salario_esposo,Tipo_empleo,Dpto_residencia
0,1,1610,1,32,12,2708,34,12,815500,14,1,12745.2000,15309.4400,1.0,3
1,1,1656,0,30,12,2310,30,9,1090000,5,0,5277.8203,32078.0800,1.0,1
2,1,1980,1,35,12,3072,40,12,1052000,15,1,17272.8980,13606.6600,1.0,2
3,1,456,0,34,12,1920,53,10,365000,6,0,4166.7002,13458.4600,1.0,2
4,1,1568,1,31,14,2000,32,12,1365000,7,1,17448.8400,38000.0000,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,0,0,0,40,13,3020,43,16,1410000,5,0,0.0000,35231.6990,1.0,1
749,0,0,2,31,12,2056,33,12,500000,14,1,0.0000,18482.4390,1.0,3
750,0,0,0,43,12,2383,43,12,497600,4,0,0.0000,4141.2402,1.0,2
751,0,0,0,60,12,1705,55,8,1249200,15,0,0.0000,47272.0000,1.0,2
752,0,0,0,39,9,3120,48,12,1418150,12,0,0.0000,23140.8610,2.0,1

In [5]:
muestra=datos.sample(50)

In [6]:
muestra

,inlf,horas_esposa,hijos,edad_esposa,educ_esposa,horas_esposo,edad_esposo,educ_esposo,ingreso,exper_esposa,d_hijo6,salario_esposa,salario_esposo,Tipo_empleo,Dpto_residencia
664,0,0,0,36,12,2805,38,12,1887600,5,0,0.0000,27472.4800,2.0,1
670,0,0,0,30,12,2550,31,12,600000,1,0,0.0000,17882.4200,2.0,1
41,1,893,0,57,12,2570,58,12,1275000,14,0,14893.7200,22179.0800,1.0,2
696,0,0,0,48,15,2205,51,16,1115000,14,0,0.0000,27573.5590,2.0,1
84,1,720,0,51,9,1100,55,8,165250,29,0,6180.3198,7372.0000,2.0,2
292,1,1080,0,32,17,3080,35,15,2630000,4,0,32722.1820,28776.2600,2.0,1
258,1,1000,0,32,12,2053,46,16,2010650,1,0,3800.0000,67366.4060,1.0,3
735,0,0,1,31,12,2016,30,14,700000,6,1,0.0000,22619.1210,2.0,2
50,1,1173,0,46,12,2068,46,12,1500000,12,0,8701.6201,24852.3810,1.0,2
675,0,0,0,50,12,2750,52,10,561250,0,0,0.0000,15476.2600,1.0,1
745,0,0,2,39,12,1430,34,12,392000,5,1,0.0000,11200.8800,1.0,2
582,0,0,0,46,10,1880,51,12,812000,19,0,0.0000,30319.0610,2.0,1
648,0,0,0,49,12,3500,51,12,775000,32,0,0.0000,7328.6797,2.0,2
249,1,1260,1,30,16,2450,34,17,1727500,9,1,31063.4790,31020.5390,1.0,1
514,0,0,0,48,12,2450,51,12,1225000,4,0,0.0000,32571.3180,1.0,2
52,1,340,0,37,12,2152,40,10,832900,15,0,4470.6997,23838.1600,2.0,2
487,0,0,0,44,14,1964,49,8,1185000,1,0,0.0000,40629.6020,2.0,2
634,0,0,0,35,11,1785,39,10,618350,1,0,0.0000,24411.5800,2.0,1
91,1,120,2,33,12,2246,36,12,864500,11,1,6333.4600,28762.1990,2.0,2
58,1,2312,0,55,14,2178,56,16,1500900,35,0,17476.1990,33730.6990,2.0,2
705,0,0,1,31,8,2805,31,10,386000,10,1,0.0000,9482.9004,1.0,2
331,1,1400,0,45,17,2286,51,16,1537500,22,0,27143.0200,33495.0980,2.0,2
441,0,0,0,55,12,2500,58,12,750000,6,0,0.0000,10260.0000,1.0,2
707,0,0,0,42,16,2052,55,15,1205300,0,0,0.0000,38760.0000,1.0,1
642,0,0,0,59,12,2717,60,12,1612100,2,0,0.0000,25314.8400,1.0,1
285,1,450,0,51,13,2600,57,14,2045000,19,0,21111.2810,43844.4020,2.0,3
132,1,288,0,34,12,1936,36,12,1007750,10,0,12534.6800,33367.8010,1.0,2
505,0,0,0,53,14,2500,55,16,2075000,3,0,0.0000,60800.0000,1.0,2
681,0,0,1,37,9,2033,37,17,870500,10,1,0.0000,31775.6020,2.0,3
729,0,0,1,30,14,1715,32,17,1302000,3,1,0.0000,57608.0000,1.0,1
476,0,0,1,41,12,3825,41,11,352500,12,1,0.0000,5377.7598,1.0,1
269,1,44,1,36,16,1840,37,17,725000,3,1,25909.1600,22717.5410,1.0,2
42,1,583,1,31,16,1530,34,16,1200000,6,1,9777.0205,52155.0000,2.0,2
227,1,1158,1,34,17,2480,39,17,1760000,2,1,22970.6190,42902.0000,1.0,2
168,1,1128,0,43,12,1918,46,10,775950,6,0,8085.2603,23614.3400,2.0,2
671,0,0,0,48,17,2080,45,17,1575000,2,0,0.0000,34711.4800,2.0,2
116,1,1715,0,49,12,2227,52,14,1157500,29,0,15510.0810,27301.4800,2.0,2
614,0,0,0,44,12,1800,45,12,669500,3,0,0.0000,19316.5410,2.0,2
533,0,0,1,32,12,1800,39,13,577500,7,1,0.0000,23222.1820,2.0,2
230,1,1984,0,37,12,2332,40,12,990000,11,0,16088.8200,18576.3010,1.0,2
31,1,732,0,59,16,3360,57,17,927500,11,0,9344.2002,18660.6600,1.0,1
157,1,2090,0,43,16,1770,47,14,1346050,25,0,13091.0000,36282.4020,1.0,1
597,0,0,0,60,11,2071,52,11,925000,45,0,0.0000,33945.0230,1.0,2
224,1,1515,0,46,16,1918,49,14,1929500,17,0,30099.0410,33680.9220,2.0,1
607,0,0,0,48,12,2640,49,12,1015000,5,0,0.0000,28788.0390,2.0,2
530,0,0,1,51,7,2000,52,7,2249400,0,1,0.0000,39900.0000,1.0,1
377,1,352,0,34,16,3300,33,12,920000,8,0,12954.5800,12701.1200,1.0,1
374,1,1080,0,32,10,1950,35,10,571550,1,0,8483.1201,17577.2790,2.0,2
442,0,0,1,36,9,2088,39,14,1026400,0,1,0.0000,29118.6390,1.0,3
17,1,640,0,39,12,2250,40,12,957550,6,0,19665.0000,23369.2400,2.0,1

# Tabla de frecuencias variables

In [65]:

def auxiliar1(variable,maximo,minimo,amplitud,numero_de_clases):
    'Devuelve la tabla de frecuencia de la variable'
    #intervalos
    #contar cuanto hay en cada intervalo




def tabla_datos_agrupados_1(datos):
    'Dada algunos datos devuelve su información tabulada, cada columna corresponde a una variable'
    numero_de_clases=round(1+np.log2(len(datos))
    variable=''
    for i in datos:
        variable=datos[i]
        maximo=datos[i].max()
        minimo=datos[i].min()

      horas_esposa  hijos  edad_esposa  educ_esposa  horas_esposo  \
inlf
0              325    325          325          325           325
1              428    428          428          428           428

      edad_esposo  educ_esposo  ingreso  exper_esposa  d_hijo6  \
inlf
0             325          325      325           325      325
1             428          428      428           428      428

      salario_esposa  salario_esposo  Tipo_empleo  Dpto_residencia
inlf
0                325             325          325              325
1                428             428          427              428
              inlf  hijos  edad_esposa  educ_esposa  horas_esposo  \
horas_esposa
0              325    325          325          325           325
12               1      1            1            1             1
15               2      2            2            2             2
30               1      1            1            1             1
44               1      1            1            1             1
...            ...    ...          ...          ...           ...
3533             1      1            1            1             1
3640             1      1            1            1             1
3686             1      1            1            1             1
4210             1      1            1            1             1
4950             1      1            1            1             1

              edad_esposo  educ_esposo  ingreso  exper_esposa  d_hijo6  \
horas_esposa
0                     325          325      325           325      325
12                      1            1        1             1        1
15                      2            2        2             2        2
30                      1            1        1             1        1
44                      1            1        1             1        1
...                   ...          ...      ...           ...      ...
3533                    1            1        1             1        1
3640                    1            1        1             1        1
3686                    1            1        1             1        1
4210                    1            1        1             1        1
4950                    1            1        1             1        1

              salario_esposa  salario_esposo  Tipo_empleo  Dpto_residencia
horas_esposa
0                        325             325          325              325
12                         1               1            1                1
15                         2               2            2                2
30                         1               1            1                1
44                         1               1            1                1
...                      ...             ...          ...              ...
3533                       1               1            1                1
3640                       1               1            1                1
3686                       1               1            1                1
4210                       1               1            1                1
4950                       1               1            1                1

[306 rows x 14 columns]
       inlf  horas_esposa  edad_esposa  educ_esposa  horas_esposo  \
hijos
0       606           606          606          606           606
1       118           118          118          118           118
2        26            26           26           26            26
3         3             3            3            3             3

       edad_esposo  educ_esposo  ingreso  exper_esposa  d_hijo6  \
hijos
0              606          606      606           606      606
1              118          118      118           118      118
2               26           26       26            26       26
3                3            3        3             3        3

       salario_esposa  salario_esposo  Tipo_empleo  Dpto_residencia
hijos
0                 606             606          605              606
1                 118             118          118              118
2                  26              26           26               26
3                   3               3            3                3
             inlf  horas_esposa  hijos  educ_esposa  horas_esposo  \
edad_esposa
30             38            38     38           38            38
31             33            33     33           33            33
32             34            34     34           34            34
33             25            25     25           25            25
34             32            32     32           32            32
35             24            24     24           24            24
36             38            38     38           38            38
37             27            27     27           27            27
38             26            26     26           26            26
39             21            21     21           21            21
40             20            20     20           20            20
41             27            27     27           27            27
42             21            21     21           21            21
43             37            37     37           37            37
44             24            24     24           24            24
45             35            35     35           35            35
46             31            31     31           31            31
47             38            38     38           38            38
48             29            29     29           29            29
49             28            28     28           28            28
50             18            18     18           18            18
51             28            28     28           28            28
52             22            22     22           22            22
53             16            16     16           16            16
54             26            26     26           26            26
55             12            12     12           12            12
56             13            13     13           13            13
57              7             7      7            7             7
58              8             8      8            8             8
59              9             9      9            9             9
60              6             6      6            6             6

             edad_esposo  educ_esposo  ingreso  exper_esposa  d_hijo6  \
edad_esposa
30                    38           38       38            38       38
31                    33           33       33            33       33
32                    34           34       34            34       34
33                    25           25       25            25       25
34                    32           32       32            32       32
35                    24           24       24            24       24
36                    38           38       38            38       38
37                    27           27       27            27       27
38                    26           26       26            26       26
39                    21           21       21            21       21
40                    20           20       20            20       20
41                    27           27       27            27       27
42                    21           21       21            21       21
43                    37           37       37            37       37
44                    24           24       24            24       24
45                    35           35       35            35       35
46                    31           31       31            31       31
47                    38           38       38            38       38
48                    29           29       29            29       29
49                    28           28       28            28       28
50                    18           18       18            18       18
51                    28           28       28            28       28
52                    22           22       22            22       22
53                    16           16       16            16       16
54                    26           26       26            26       26
55                    12           12       12            12       12
56                    13           13       13            13       13
57                     7            7        7             7        7
58                     8            8        8             8        8
59                     9            9        9             9        9
60                     6            6        6             6        6

             salario_esposa  salario_esposo  Tipo_empleo  Dpto_residencia
edad_esposa
30                       38              38           38               38
31                       33              33           33               33
32                       34              34           33               34
33                       25              25           25               25
34                       32              32           32               32
35                       24              24           24               24
36                       38              38           38               38
37                       27              27           27               27
38                       26              26           26               26
39                       21              21           21               21
40                       20              20           20               20
41                       27              27           27               27
42                       21              21           21               21
43                       37              37           37               37
44                       24              24           24               24
45                       35              35           35               35
46                       31              31           31               31
47                       38              38           38               38
48                       29              29           29               29
49                       28              28           28               28
50                       18              18           18               18
51                       28              28           28               28
52                       22              22           22               22
53                       16              16           16               16
54                       26              26           26               26
55                       12              12           12               12
56                       13              13           13               13
57                        7               7            7                7
58                        8               8            8                8
59                        9               9            9                9
60                        6               6            6                6
             inlf  horas_esposa  hijos  edad_esposa  horas_esposo  \
educ_esposa
5               4             4      4            4             4
6               6             6      6            6             6
7               8             8      8            8             8
8              30            30     30           30            30
9              25            25     25           25            25
10             44            44     44           44            44
11             43            43     43           43            43
12            381           381    381          381           381
13             44            44     44           44            44
14             51            51     51           51            51
15             14            14     14           14            14
16             57            57     57           57            57
17             46            46     46           46            46

             edad_esposo  educ_esposo  ingreso  exper_esposa  d_hijo6  \
educ_esposa
5                      4            4        4             4        4
6                      6            6        6             6        6
7                      8            8        8             8        8
8                     30           30       30            30       30
9                     25           25       25            25       25
10                    44           44       44            44       44
11                    43           43       43            43       43
12                   381          381      381           381      381
13                    44           44       44            44       44
14                    51           51       51            51       51
15                    14           14       14            14       14
16                    57           57       57            57       57
17                    46           46       46            46       46

             salario_esposa  salario_esposo  Tipo_empleo  Dpto_residencia
educ_esposa
5                         4               4            4                4
6                         6               6            6                6
7                         8               8            8                8
8                        30              30           30               30
9                        25              25           25               25
10                       44              44           44               44
11                       43              43           43               43
12                      381             381          380              381
13                       44              44           44               44
14                       51              51           51               51
15                       14              14           14               14
16                       57              57           57               57
17                       46              46           46               46
              inlf  horas_esposa  hijos  edad_esposa  educ_esposa  \
horas_esposo
175              1             1      1            1            1
288              1             1      1            1            1
640              1             1      1            1            1
760              1             1      1            1            1
768              1             1      1            1            1
...            ...           ...    ...          ...          ...
4334             1             1      1            1            1
4368             1             1      1            1            1
4640             1             1      1            1            1
4684             1             1      1            1            1
5010             1             1      1            1            1

              edad_esposo  educ_esposo  ingreso  exper_esposa  d_hijo6  \
horas_esposo
175                     1            1        1             1        1
288                     1            1        1             1        1
640                     1            1        1             1        1
760                     1            1        1             1        1
768                     1            1        1             1        1
...                   ...          ...      ...           ...      ...
4334                    1            1        1             1        1
4368                    1            1        1             1        1
4640                    1            1        1             1        1
4684                    1            1        1             1        1
5010                    1            1        1             1        1

              salario_esposa  salario_esposo  Tipo_empleo  Dpto_residencia
horas_esposo
175                        1               1            1                1
288                        1               1            1                1
640                        1               1            1                1
760                        1               1            1                1
768                        1               1            1                1
...                      ...             ...          ...              ...
4334                       1               1            1                1
4368                       1               1            1                1
4640                       1               1            1                1
4684                       1               1            1                1
5010                       1               1            1                1

[422 rows x 14 columns]
             inlf  horas_esposa  hijos  edad_esposa  educ_esposa  \
edad_esposo
30             13            13     13           13           13
31             18            18     18           18           18
32             14            14     14           14           14
33             26            26     26           26           26
34             25            25     25           25           25
35             21            21     21           21           21
36             15            15     15           15           15
37             33            33     33           33           33
38             25            25     25           25           25
39             29            29     29           29           29
40             22            22     22           22           22
41             17            17     17           17           17
42             31            31     31           31           31
43             27            27     27           27           27
44             26            26     26           26           26
45             25            25     25           25           25
46             35            35     35           35           35
47             41            41     41           41           41
48             38            38     38           38           38
49             29            29     29           29           29
50             21            21     21           21           21
51             29            29     29           29           29
52             28            28     28           28           28
53             34            34     34           34           34
54             25            25     25           25           25
55             23            23     23           23           23
56             18            18     18           18           18
57             20            20     20           20           20
58             17            17     17           17           17
59             12            12     12           12           12
60             16            16     16           16           16

             horas_esposo  educ_esposo  ingreso  exper_esposa  d_hijo6  \
edad_esposo
30                     13           13       13            13       13
31                     18           18       18            18       18
32                     14           14       14            14       14
33                     26           26       26            26       26
34                     25           25       25            25       25
35                     21           21       21            21       21
36                     15           15       15            15       15
37                     33           33       33            33       33
38                     25           25       25            25       25
39                     29           29       29            29       29
40                     22           22       22            22       22
41                     17           17       17            17       17
42                     31           31       31            31       31
43                     27           27       27            27       27
44                     26           26       26            26       26
45                     25           25       25            25       25
46                     35           35       35            35       35

In [60]:
dato=datos[(datos['horas_esposa']>=720) & (datos['horas_esposa'] <=1260)]
dato=dato['horas_esposa']

In [61]:
dato

7      1020
13      997
15     1224
23      800
30     1040
       ...
386    1225
387     780
401     800
409     778
415    1170
Name: horas_esposa, Length: 81, dtype: int64

In [48]:
pd.interval_range(start=0, periods=4, freq=1.5).tolist()

[Interval(0.0, 1.5, closed='right'),
 Interval(1.5, 3.0, closed='right'),
 Interval(3.0, 4.5, closed='right'),
 Interval(4.5, 6.0, closed='right')]

In [59]:
8*6*30

1440